@using static SoftUniGamesApp.Common.ApplicationConstants;
@using SoftUniGamesApp.Data.Models;
@model Game

<h2>@Model.Title</h2>

<p><strong>Genre:</strong> @Model.Genre</p>
<p><strong>Release Date:</strong> @Model.ReleaseDate.ToString(GamesAppDateFormat)</p>
<p><strong>Last Update:</strong> @Model.LastUpdate.ToString(GamesAppDateFormat)</p>
<p><strong>Studio:</strong> @Model.Studio</p>
<p><strong>Description:</strong> @Model.Description</p>

<a asp-action="Index" class="btn btn-primary">Back to All Games</a>
