@using static SoftUniGamesApp.Common.ApplicationConstants;
@using SoftUniGamesApp.Data.Models;
@model IEnumerable<Game>

<h2>All Games</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Last Update</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Genre</td>
                <td>@game.ReleaseDate.ToString(GamesAppDateFormat)</td>
                <td>@game.LastUpdate.ToString(GamesAppDateFormat)</td>
                <td>@game.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@game.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Upload New Game</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Read Comments</a>
